@import "partials/fonts";

$radius: 5px;
$menuButtonColour: #000;
//$menuBackground: rgba(44, 126, 133, 0.6);
$menuBackground: rgba(0, 0, 0, 1);

/* Universal Mixins */
@mixin border-radius($radius) 
{
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin box-sizing 
{
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;  
}

#gs-switch 
{
	@include box-sizing;
	position: fixed;
	top: 0px;
	right: 0px;
	z-index: 19500; 
	cursor: pointer; 
	width: 36px;
	padding: 6px;
	transform: rotate(0deg);
	transition: transform 0.18s ease;
}

@mixin menu-button-component 
{
	@include box-sizing;
	background: $menuButtonColour;
	border: 1px solid #FFF;
	margin: 3px;
	float: left;
	display: inline;
}

.gs-switchBox 
{
	@include menu-button-component;
	height: 6px;
	width: 6px;
}

.gs-switchBoxAlt 
{
	@include menu-button-component;
	height: 4px;
	width: 18px;
}

.gs-switchBoxAlt:nth-child(2)
{
	height: 4px;
	margin: 0px 3px;
}

#gs-menu 
{
	background: $menuBackground;
	position: fixed;
	top: 0;
	right: -250px;
	z-index: 19400;
	width: 250px;
	transition: all 0.18s ease;
	padding: 0 0 9px 0;
	
	h1
	{
		@include box-sizing;
		display: block;
		height: 36px;
		color: rgba(255, 255, 255, 1);
		line-height: 36px;
		border-bottom: #fff 1px solid;
		font-family: 'Nobel Bold';
		font-style: normal;
		font-weight: bold;
		padding: 0 36px 0 0;
		margin: 0 9px;
		font-size: 22px;
	}
	
	a:link,
	a:visited,
	a:hover,
	a:active
	{
		@include box-sizing;
		display: block;
		height: 18px;
		//width: 100%;
		opacity: 1;
		color: rgba(255, 255, 255, 1);
		font-size: 14px;
		font-family: 'Nobel Regular';
		font-style: normal;
		font-weight: normal;
		line-height: 24px;
		text-decoration: none;
		transition: all 0.5s ease;
		padding: 0px 36px 0px px;
		margin: 0px 9px;
		text-align: left;
	}
	
	a:hover
	{
		color: #000;
		background-color: #fff;
	}
	
}

#gs-overlay.show
{
	width: 100%;
	height: 100%;
	position: absolute;	
	top: 0px;
	left: 0px;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.65);
	z-index: 19000;
	padding: 200px 0px;
	text-align:center;
	font-family: 'Nobel Book';
	font-size: 72px;
	
	div
	{
		top: 198px;
		position: absolute;
		height: 180px;
		line-height: 180px;
		width: 100%;
		text-align:center;
	}
	
	#percentbar
	{
		background-color: #000;
		opacity: 1;
		transition: all 2s ease-in;
		width: 0%;
	}
	
}

.gs-animated 
{
	#gs-switch 
	{
		transform: rotate(90deg);
	}
	
	#gs-menu 
	{
		right: 0px;
	}
}

.highlight-gs 
{
	opacity: 1;
	background-color: #000;
	color: #fff;
	
	a:link, 
	a:active, 
	a:visited, 
	a:hover
	{
		background-color: #000;
		color: #fff;
		text-decoration: none;
	}
}

pre 
{
	margin: 20px;
	font-family: "Courier New", Courier, monospace;
	font-size: 12px;
}
